<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eng_Dictionary.Properties.Settings.en_dictionaryConnectionString"
            connectionString="Data Source=SS-LENO01\SSLENO;Initial Catalog=en_dictionary;Persist Security Info=True;User ID=sa;Password=sombom0K;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>